body {
	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: aquamarine;
}

.title-text {
    color: #ffffff;
}

.timer {
    left: 0 !important;
    font-weight: bold;
    color: #ffffff;
}

.logout {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.table {
    color: antiquewhite;
    margin-top: 40px;
    border-radius: 5px;
    width: 50%;
    float: none;
}

table td {
    border-top: none !important;
}

.input-answer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5%;
}

.input-answer:focus {
    box-shadow: 0 0 20px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

input[type=text]:focus {
    background-color: aquamarine;
}

.timer {
    width: 30%;
    height: 10%;
    position: fixed;
    top: 0px;
    right: 0px;
    display: inline-block;
}

.timer-child {
    display: inline-block;
    margin-left: 5%;
}