<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <!-- bootstrap css and js -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- bootstrap css and js -->
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-warning font-weight-bold text-center">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="row" id="pwd-container">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <section class="login-form">
                      <form method="POST" action="/login" role="login">
                        <h3 class="text-center">Kraepelin</h3>
                        <input type="email" name="email" placeholder="Email" required class="form-control input-lg" />
                        <input type="password" name="password" placeholder="password" required class="form-control input-lg" />
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Masuk</button>
                      </form>
                      <div class="form-links">
                        <a href="#">kraepelin.ppsdm.com</a>
                      </div>
                    </section>
                    </div>
                    <div class="col-md-4"></div>
                </div>
    </body>
</html>
