<html>
  <head>
    <!-- bootstrap css and js -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="text-center">
      <h2>Daftar Hasil Test</h2>
      <form action="/assess_results" method="GET">
        <input class="input-lg" type="text" name="email" placeholder="email" />
        <input type="submit" value="search" />
      </form>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <td>
          id
        </td>
        <td>
          email
        </td>
        <td>
          nama
        </td>
        <td>
          tanggal pengumpulan test
        </td>
      </thead>
      {% for (kraepelin, user) in data["items"] %}
      <tr>
        <td>{{ kraepelin.id }}</td>
        <td>
          <a href="/assess_result/{{ kraepelin.id }}">{{ user.email }}</a>
        </td>
        <td>{{ user.firstname + " " + user.lastname }}</td>
        <td>{{ kraepelin.created_at }}</td>
      </tr>
      {% endfor %}
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        {% if data != None %} {% if data.current_page == 1 %}
        <li class="page-item disabled">
          <a class="page-link" href="{{ data.base_url }}page=1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{{ data.base_url }}page=2">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{{ data.base_url }}page=3">3</a>
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="{{ data.base_url }}page={{ data.current_page + 1 }}"
            >Next</a
          >
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="{{ data.base_url }}page=1">first</a>
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="{{ data.base_url }}page={{ data.current_page - 1 }}"
            >prev</a
          >
        </li>
        <li class="page-item disabled">
          <a
            class="page-link"
            href="{{ data.base_url }}page={{ data.current_page }}"
            >{{ data.current_page }}</a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="{{ data.base_url }}page={{ data.current_page + 1 }}"
            >Next</a
          >
        </li>
        {% endif %} {% endif %}
      </ul>
    </nav>
  </body>
  <footer></footer>
</html>
